.header {
    // .header__top

    &__top {
        padding: 13px 0;
    }

    // .header__bottom

    &__bottom {
        border-bottom: 1.00831px solid rgba($dark, 0.5);
    }

    &__bottom-inner {
        min-height: 54px;
        @extend %flex-row-center;
    }

    // .header__categories

    &__categories {
        display: none;
        @media (min-width: 1201px) {
            display: flex;
        }
    }

    // .header__link

    &__link {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        transition: 0.3s color;
        &:after {
            content: '';
            position: absolute;
            bottom: -19px;
            left: 0;
            width: 0%;
            height: 4px;
            background-color: $accent;
            transition: 0.3s width;
        }
        &:not(:last-child) {
            margin-right: 33px;
            @media (max-width: 1366px) {
                margin-right: 15px;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: $accent;
                &:after {
                    width: 100%;
                }
            }
        }
    }

    // .header__search

    &__search {
        @media (max-width: 1200px) {
            order: 2;
            margin-right: 20px;
            margin-left: auto;
        }
    }

    &__select {
        min-width: 35px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../img/icons/select-arr.svg);
        background-position: right 50%;
        background-repeat: no-repeat;
        option {
            color: initial;
        }
    }
}

.top-header {
    background-color: $dark;
    color: #fff;

    &__inner {
        @extend %flex-row-center;
    }

    // .top-header__item

    &__item {
        position: relative;
        display: flex;
        @media (max-width: 767px) {
            display: none;
        }
        &:not(:last-child) {
            padding-right: 44px;
            @media (max-width: 1366px) {
                padding-right: 30px;
            }
            @media (max-width: 991px) {
                padding-right: 17px;
            }
            @media (max-width: 767px) {
                padding-right: 0;
            }
            &:after {
                @extend %pos-center-y;
                @media (min-width: 768px) {
                    content: '';
                    right: 0;
                    width: 0.5px;
                    height: 11px;
                    background-color: rgba(#fff, 0.8);
                }
            }
        }
    }

    &__currency {
        @media (max-width: 767px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__link {
        transition: 0.3s color;
        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .top-header__menu

    &__menu {
        display: none;
        @media (min-width: 1201px) {
            display: block;
        }
    }

    // .top-header__list

    &__list {
        display: flex;
    }

    // .top-header__list-item

    &__list-item {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        &:not(:last-child) {
            margin-right: 35px;
            @media (max-width: 1366px) {
                margin-right: 17px;
            }
        }

        svg {
            flex-shrink: 0;
            margin-right: 10px;
            height: 13px;
        }

        &--date {
            svg {
                width: 14px;
            }
        }

        &--pin {
            svg {
                width: 10px;
                height: 15px;
            }
        }

        &--sun {
            svg {
                width: 13px;
            }
        }
    }

    // .top-header__currency-item

    &__currency-item {
        position: relative;
        padding-right: 14px;
        @media (max-width: 767px) {
            display: block;
        }
        &:after {
            content: '';
            @extend %pos-center-y;
            right: 0;
            width: 9px;
            height: 9px;
        }
        span {
            font-weight: 300;
            padding-right: 3px;
        }
    }

    // .top-header__currency-item--increase

    &__currency-item--increase {
        &:after {
            background-color: #219653;
            clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        }
    }

    // .top-header__currency-item--dicrease

    &__currency-item--dicrease {
        &:after {
            background-color: #fe2929;
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        }
    }
}

.logo {
    // .logo__img

    &__img {
        object-fit: contain;
    }
}

.search {
    position: relative;
    @extend %vertical-align;
    // .search__btn

    &__btn {
        width: 20px;
        height: 20px;
    }
}

.search-form {
    position: absolute;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.3s all;
    width: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #828282;
    width: 1086px;
    height: 36px;
    @extend %vertical-align;
    padding: 0 13px;

    // .search-form__input

    &__input {
        width: 1086px - 13px * 2 - 20px * 3 - 25px;
    }

    // .search-form__submit-btn

    &__submit-btn {
        width: 20px;
        height: 20px;
    }

    // .search-form__reset-btn

    &__reset-btn {
        width: 20px;
        height: 20px;
        margin-left: 25px;
    }
}

.burger-btn {
    width: 80px;
    height: 54px;
    min-height: 100%;
    @extend %flex-center;
    border-left: 1.00831px solid rgba($dark, 0.5);
    border-right: 1.00831px solid rgba($dark, 0.5);
    @media (max-width: 1200px) {
        order: 4;
    }
    span {
        position: relative;
        display: block;
        width: 40px;
        height: 3px;
        background-color: $dark;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background-color: $dark;
        }
        &:before {
            top: -7px;
        }
        &:after {
            bottom: -7px;
        }
    }
}
