<section class="recommended-auto">
    <h3 class="recommended-auto__title">
        Рекомендуем для вас следующие авто:
    </h3>
    <div class="swiper-container recommended-auto__slider">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide recommended-auto__slider-item">
                <img src="img/cars/01.jpg" class="subCat__img">
                <div class="subCat__content">
                    <div class="subCat__title">
                        Mercedes S-class W222 Long (2014)
                    </div>
                    <div class="subCat__info">
                        <div class="subCat__count">
                            Количество пассажиров:
                            <div class="subCat__num">3</div>
                        </div>
                        <div class="subCat__price">
                            Стоимость в час (руб):
                            <div class="subCat__num">от 60 до 100</div>
                        </div>
                    </div>
                    <div class="subCat__btn">Подробнее</div>
                </div>
            </a>
            <a href="#" class="swiper-slide recommended-auto__slider-item">
                <img src="img/cars/01.jpg" class="subCat__img">
                <div class="subCat__content">
                    <div class="subCat__title">
                        Mercedes S-class W222 Long (2014)
                    </div>
                    <div class="subCat__info">
                        <div class="subCat__count">
                            Количество пассажиров:
                            <div class="subCat__num">3</div>
                        </div>
                        <div class="subCat__price">
                            Стоимость в час (руб):
                            <div class="subCat__num">от 60 до 100</div>
                        </div>
                    </div>
                    <div class="subCat__btn">Подробнее</div>
                </div>
            </a>
            <a href="#" class="swiper-slide recommended-auto__slider-item">
                <img src="img/cars/01.jpg" class="subCat__img">
                <div class="subCat__content">
                    <div class="subCat__title">
                        Mercedes S-class W222 Long (2014)
                    </div>
                    <div class="subCat__info">
                        <div class="subCat__count">
                            Количество пассажиров:
                            <div class="subCat__num">3</div>
                        </div>
                        <div class="subCat__price">
                            Стоимость в час (руб):
                            <div class="subCat__num">от 60 до 100</div>
                        </div>
                    </div>
                    <div class="subCat__btn">Подробнее</div>
                </div>
            </a>
            <a href="#" class="swiper-slide recommended-auto__slider-item">
                <img src="img/cars/01.jpg" class="subCat__img">
                <div class="subCat__content">
                    <div class="subCat__title">
                        Mercedes S-class W222 Long (2014)
                    </div>
                    <div class="subCat__info">
                        <div class="subCat__count">
                            Количество пассажиров:
                            <div class="subCat__num">3</div>
                        </div>
                        <div class="subCat__price">
                            Стоимость в час (руб):
                            <div class="subCat__num">от 60 до 100</div>
                        </div>
                    </div>
                    <div class="subCat__btn">Подробнее</div>
                </div>
            </a>
            <a href="#" class="swiper-slide recommended-auto__slider-item">
                <img src="img/cars/01.jpg" class="subCat__img">
                <div class="subCat__content">
                    <div class="subCat__title">
                        Mercedes S-class W222 Long (2014)
                    </div>
                    <div class="subCat__info">
                        <div class="subCat__count">
                            Количество пассажиров:
                            <div class="subCat__num">3</div>
                        </div>
                        <div class="subCat__price">
                            Стоимость в час (руб):
                            <div class="subCat__num">от 60 до 100</div>
                        </div>
                    </div>
                    <div class="subCat__btn">Подробнее</div>
                </div>
            </a>
        </div>
    </div>
    <div class="recommended-auto__slider-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>