<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Список статей"
})

<body>

    <div class="wrapper">
        <!-- @@include('../../blocks/modules/header/_header.html') -->
        <main class="page articles-page">
            <div class="container">
                @@include('../../blocks/modules/newspaper-subscribe/_newspaper-subscribe.html')
                <div class="grid col-lg-4 gap-30 articles-page__wrapper">
                    <div class="span-lg-3">
                        <h1 class="line-title">Политика</h1>
                        <div class="grid col-3 gap-30 pt-25">
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/01.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">На 2021 год установили расчетные нормы рабочего времени. Отдыхать будем
                                        меньше, трудиться — больше</a>
                                </h6>
                                <p>
                                    Для пятидневной трудовой недели с выходными днями в субботу и воскресенье этот
                                    показатель составит 2050 часов, а для
                                    шестидневной с выходным в воскресенье — 2031 час.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/02.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Минздрав сообщил, сколько новых случаев COVID-19 за последние сутки</a>
                                </h6>
                                <p>
                                    В Беларуси 136 647 случаев COVID-19 с начала пандемии, сообщает Минздрав в
                                    телеграм-канале. Прирост за сутки — 1639
                                    случаев, днем ранее — 1684 новых случая.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/03.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Повышение пенсий, подорожание проезда, судьба банка, цены на мясо и
                                        сахар. Изменения декабря</a>
                                </h6>
                                <p>
                                    С 1 декабря в Беларуси вырастут некоторые пенсии (при этом реальные выплаты
                                    по-прежнему падают), подорожают сигареты.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/04.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Бумажная стабилизация, рост ниоткуда, инвестиции в никуда. Что не так с
                                        планами и прогнозами-2021</a>
                                </h6>
                                <p>
                                    Республиканский союз промышленников
                                    и предпринимателей ознакомились с проектами прогноза социально-экономического
                                    развития Беларуси на 2021 год.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/05.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Одна — на миллион, вторая — почти на 5. Рассказываем про госзакупки,
                                        которые связаны с Новым годом</a>
                                </h6>
                                <p>
                                    На оформление центра Минска к новогодним и рождественским праздникам намерены
                                    потратить больше миллиона рублей.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/06.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Милевский грубо ответил на призыв поддержать Хижинкову</a>
                                </h6>
                                <p>
                                    Нападающего брестского «Динамо» Артема Милевского в Instagram призвали поддержать
                                    экс-пресс-секретаря клуба Ольгу Хижинкову.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/07.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Экс-президент Франции на скамье подсудимых. За что судят Николя
                                        Саркози</a>
                                </h6>
                                <p>
                                    Впервые в истории Французской республики экс-президент лично предстал перед судом. В
                                    Париже начался процесс над Николя Саркози. Его обвиняют в коррупции и попытке
                                    подкупа судьи.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/08.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        72-летнего минчанина осудили за насилие в отношении омоновца. Что решил суд
                                    </a>
                                </h6>
                                <p>
                                    В столице 72-летнего мужчину осудили за насилие в отношении омоновца. Наказание —
                                    пять лет «домашней химии». Об этом сообщает пресс-служба Минского городского суда.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/09.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        В реакции иммунитета бессимптомных больных на коронавирус нашли ключевую черту
                                    </a>
                                </h6>
                                <p>
                                    Молекулярные биологи сравнили работу иммунитета людей, которые переболели COVID-19 в
                                    явной и неявной форме. Оказалось, что иммунитет последних реагировал на инфекцию.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/01.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        На 2021 год установили расчетные нормы рабочего времени. Отдыхать будем меньше,
                                        трудиться — больше
                                    </a>
                                </h6>
                                <p>
                                    Для пятидневной трудовой недели с выходными днями в субботу и воскресенье этот
                                    показатель составит 2050 часов, а для
                                    шестидневной с выходным в воскресенье — 2031 час.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/02.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Минздрав сообщил, сколько новых случаев COVID-19 за последние сутки</a>
                                </h6>
                                <p>
                                    В Беларуси 136 647 случаев COVID-19 с начала пандемии, сообщает Минздрав в
                                    телеграм-канале. Прирост за сутки — 1639
                                    случаев, днем ранее — 1684 новых случая.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/03.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        Повышение пенсий, подорожание проезда, судьба банка, цены на мясо и сахар.
                                        Изменения декабря
                                    </a>
                                </h6>
                                <p>
                                    С 1 декабря в Беларуси вырастут некоторые пенсии (при этом реальные выплаты
                                    по-прежнему падают), подорожают сигареты.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/04.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        Бумажная стабилизация, рост ниоткуда, инвестиции в никуда. Что не так с планами
                                        и прогнозами-2021
                                    </a>
                                </h6>
                                <p>
                                    Республиканский союз промышленников
                                    и предпринимателей ознакомились с проектами прогноза социально-экономического
                                    развития Беларуси на 2021 год.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/05.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        Одна — на миллион, вторая — почти на 5. Рассказываем про госзакупки, которые
                                        связаны с Новым годом
                                    </a>
                                </h6>
                                <p>
                                    На оформление центра Минска к новогодним и рождественским праздникам намерены
                                    потратить больше миллиона рублей.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/06.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">Милевский грубо ответил на призыв поддержать Хижинкову</a>
                                </h6>
                                <p>
                                    Нападающего брестского «Динамо» Артема Милевского в Instagram призвали поддержать
                                    экс-пресс-секретаря клуба Ольгу Хижинкову.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/07.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        Экс-президент Франции на скамье подсудимых. За что судят Николя Саркози
                                    </a>
                                </h6>
                                <p>
                                    Впервые в истории Французской республики экс-президент лично предстал перед судом. В
                                    Париже начался процесс над Николя Саркози. Его обвиняют в коррупции и попытке
                                    подкупа судьи.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/08.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        72-летнего минчанина осудили за насилие в отношении омоновца. Что решил суд
                                    </a>
                                </h6>
                                <p>
                                    В столице 72-летнего мужчину осудили за насилие в отношении омоновца. Наказание —
                                    пять лет «домашней химии». Об этом сообщает пресс-служба Минского городского суда.
                                </p>
                            </article>
                            <article class="article-card">
                                <a href="#" class="article-card__img"><img src="img/content/politics/09.jpg" alt=""></a>
                                <time datetime="2020-10-23" class="article-card__date">
                                    23 октября 2020
                                </time>
                                <h6 class="article-card__title">
                                    <a href="#">
                                        В реакции иммунитета бессимптомных больных на коронавирус нашли ключевую черту
                                    </a>
                                </h6>
                                <p>
                                    Молекулярные биологи сравнили работу иммунитета людей, которые переболели COVID-19 в
                                    явной и неявной форме. Оказалось, что иммунитет последних реагировал на инфекцию.
                                </p>
                            </article>
                        </div>
                        @@include('../../blocks/modules/pagination/_pagination.html')
                    </div>
                    <aside class="sidebar">
                        @@include('../../blocks/modules/gray-articles/_gray-articles.html', {
                        "title": "Читают сейчас"
                        })
                        <a href="#" class="banner">
                            <img src="img/banners/partner-program.jpg"
                                alt=" Как повысить свой доход в партнерских программах на 15-30%">
                            <span class="banner__descr">300px x 600px</span>
                        </a>
                        <div class="newsletter sidebar__newsletter">
                            <div class="newsletter__title">Подпишитесь на нашу рассылку</div>
                            <div class="newsletter__subtitle">Только топовые новости у вас на почте!</div>
                            <form action="#" class="grid gap-15">
                                <input class="input newsletter__form-input" type="email" name="email"
                                    placeholder="Ваша почта">
                                <button class="btn newsletter__form-btn" type="submit">Подписаться</button>
                            </form>
                        </div>
                        <section>
                            <h3 class="sidebar__title">Выбор редакции</h3>
                            <div class="grid gap-15">
                                <article class="anons-article">
                                    <a href="#" class="anons-article__body">
                                        <img src="img/content/shooting.jpg" alt="" class="anons-article__img">
                                        <h6 class="anons-article__text">
                                            Расстрел мирных протестующих. Что произошло в Новочеркасске в 1962 году
                                        </h6>
                                    </a>
                                </article>
                                <article class="anons-article">
                                    <a href="#" class="anons-article__body">
                                        <img src="img/content/usa.jpg" alt="" class="anons-article__img">
                                        <h6 class="anons-article__text">
                                            Президентские выборы в США: Предчувствие гражданской войны
                                        </h6>
                                    </a>
                                </article>
                                <article class="anons-article">
                                    <a href="#" class="anons-article__body">
                                        <img src="img/content/shooting.jpg" alt="" class="anons-article__img">
                                        <h6 class="anons-article__text">
                                            Расстрел мирных протестующих. Что произошло в Новочеркасске в 1962 году
                                        </h6>
                                    </a>
                                </article>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </main>
        @@include('../../blocks/modules/footer/_footer.html')
    </div>
    @@include('../_js.html')

</body>

</html>