<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Курсы валют"
})

<body>

    <div class="wrapper">
        <!-- @@include('../../blocks/modules/header/_header.html') -->
        <main class="page currency-rates">
            <div class="container padding-30 text-page">
                <div class="row currency-rates__row">
                    @@include('../../blocks/modules/sidebar/_left.html')
                    <div class="col-lg-6 text-wrapper">
                        <div class="currency-rates__item">
                            <h2 class="line-title currency-rates__title">Конвертер валют</h2>
                            @@include('../../blocks/modules/currency/_converter.html')
                        </div>
                        <div class="currency-rates__item">
                            <h1 class="line-title currency-rates__title">Курсы валют</h1>
                            @@include('../../blocks/modules/currency/_table.html')
                        </div>
                    </div>
                    @@include('../../blocks/modules/sidebar/_right.html')
                </div>
            </div>

            <aside class="bottom-sections">
                @@include('../../blocks/modules/news/_news.html')
                @@include('../../blocks/modules/other-materials/_other-materials.html')
                @@include('../../blocks/modules/popular/_popular.html')
            </aside>
        </main>
        @@include('../../blocks/modules/footer/_footer.html')
    </div>
    @@include('../_js.html')

</body>

</html>