<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Архив газеты. Отдельный выпуск"
})

<body>

    <div class="wrapper">

        <main class="page newspaper-archive">
            <div class="container padding-30 text-page">
                <div class="row currency-rates__row">
                    @@include('../../blocks/modules/sidebar/_left.html')
                    <div class="col-lg-6 text-wrapper">
                        <nav class="newspaper-archive__nav">
                            <a href="#" class="newspaper-archive__nav-link newspaper-archive__nav-link--prev">
                                <span>
                                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.3999 1.32031L1.3999 5.30315L6.3999 9.32031" stroke="#BC2B29" />
                                    </svg>
                                </span>
                                Предыдущий выпуск
                            </a>
                            <a href="#" class="newspaper-archive__nav-link newspaper-archive__nav-link--next">
                                Следующий выпуск
                                <span>
                                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.599976 8.67969L5.59998 4.69686L0.599976 0.679687"
                                            stroke="#BC2B29" />
                                    </svg>
                                </span>
                            </a>
                        </nav>

                        <div class="newspaper-single grid-xs col-2">
                            <div class="newspaper-single__content">
                                <h1 class="newspaper-single__title">
                                    Печатное издание «Белорусы и рынок»
                                </h1>
                                <div class="newspaper-single__subtitle">
                                    Выпуск №038 (3327) (2603)
                                    <time datetime="2021-03-26">26 марта 2021</time>
                                </div>
                                <div class="newspaper-single__img tablet-visible">
                                    <img src="img/content/newspaper-single.jpg" alt="газета">
                                </div>
                                <dl class="newspaper-single__list">
                                    <div class="newspaper-single__list-item">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                        <dt>Дата выхода:</dt>
                                        <dd><time datetime="2021-03-26">26 марта 2021</time></dd>
                                    </div>
                                    <div class="newspaper-single__list-item">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#edition"></use>
                                        </svg>
                                        <dt>Тираж:</dt>
                                        <dd>50 000 экземпляров</dd>
                                    </div>
                                    <div class="newspaper-single__list-item">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#pages"></use>
                                        </svg>
                                        <dt>Количество страниц:</dt>
                                        <dd>24</dd>
                                    </div>
                                </dl>
                                <a href="#" class="btn btn-red newspaper-single__btn">
                                    Оформить подписку
                                </a>
                            </div>
                            <div class="newspaper-single__img">
                                <img src="img/content/newspaper-single.jpg" alt="газета">
                            </div>
                        </div>

                        <section class="newspaper-single-materials">
                            <h2 class="line-title newspaper-single-materials__title">Материалы этого номера:</h2>
                            <div class="newspaper-single-materials__items">
                                <div class="newspaper-single-materials__item">
                                    <article class="newspaper-single-material">
                                        <a class="grid col-2" href="#">
                                            <div class="newspaper-single-material__img">
                                                <img src="img/content/newspaper-materials/01.jpg" alt="">
                                            </div>
                                            <div class="newspaper-single-material__content">
                                                <h5 class="newspaper-single-material__title">
                                                    Николай Сванидзе:
                                                    В Беларуси уже никогда
                                                    не будет запроса на «сильную руку»
                                                </h5>
                                                <p>
                                                    Об этом газета «Белорусы и рынок» поговорила с российским
                                                    журналистом и общественным деятелем Николаем СВАНИДЗЕ.
                                                </p>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                                <div class="newspaper-single-materials__item">
                                    <div class="grid col-2">
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/02.jpg" alt="">
                                                </div>
                                                <h6>
                                                    «Жыве Беларусь!» Как появился знаменитый лозунг и кто его
                                                    использовал
                                                </h6>
                                            </a>
                                        </article>
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/03.jpg" alt="">
                                                </div>
                                                <h6>
                                                    Еврокомиссия обвинила Беларусь
                                                    в невыполнении рекомендаций
                                                    по безопасности БелАЭС
                                                </h6>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                                <div class="newspaper-single-materials__item">
                                    <div class="grid col-2">
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner grid" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/small/01.jpg" alt="">
                                                </div>
                                                <h6>
                                                    Ученые обнаружили «важные улики» в ходе расследования по
                                                    COVID-19 в Ухане
                                                </h6>
                                            </a>
                                        </article>
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner grid" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/small/02.jpg" alt="">
                                                </div>
                                                <h6>
                                                    В Чехии подано первое заявление в адрес силовиков Беларуси
                                                    за пытки
                                                </h6>
                                            </a>
                                        </article>
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner grid" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/small/03.jpg" alt="">
                                                </div>
                                                <h6>
                                                    «Брестское» кольцо Марадоны оказалось
                                                    в центре скандала
                                                </h6>
                                            </a>
                                        </article>
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner grid" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/small/04.jpg" alt="">
                                                </div>
                                                <h6>
                                                    Yara поддержала Международный день солидарности
                                                    с Беларусью
                                                </h6>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                                <div class="newspaper-single-materials__item">
                                    <div class="grid col-2">
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/04.jpg" alt="">
                                                </div>
                                                <h6>Опрос: В 2021 году у 66% белорусов снизилась зарплата</h6>
                                            </a>
                                        </article>
                                        <article class="newspaper-single-material">
                                            <a class="newspaper-single-material__inner" href="#">
                                                <div class="newspaper-single-material__img">
                                                    <img src="img/content/newspaper-materials/05.jpg" alt="">
                                                </div>
                                                <h6>
                                                    «Минский мясокомбинат» подал заявление о признании себя
                                                    банкротом
                                                </h6>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <div class="newspaper-single-submit">
                                <a href="#" class="border-link newspaper-single-submit__link">Весь номер в PDF *</a>
                                <small class="newspaper-single-submit__text">* только для online-подписчиков</small>
                                <a href="#" class="newspaper-single-submit__btn btn btn-red">Оформить подписку</a>
                            </div>
                        </section>

                        <section class="newspaper-single-archive">
                            <header class="newspaper-single-archive__top">
                                <h3 class="newspaper-single-archive__title">Архив газеты</h3>
                                <a href="#" class="border-link newspaper-single-archive__link">Весь архив</a>
                            </header>
                            <div class="swiper-container newspaper-single-archive__slider">
                                <div class="swiper-wrapper newspaper-single-archive__cards">
                                    <article class="swiper-slide newspaper-archive-card">
                                        <a href="#">
                                            <header class="newspaper-archive-card__header">
                                                <h3 class="newspaper-archive-card__num">№ 100</h3>
                                                <div class="newspaper-archive-card__date">
                                                    от <time datetime="2020-01-10">10.01.2020</time>
                                                </div>
                                            </header>
                                            <div class="newspaper-archive-card__img">
                                                <img src="img/content/newspaper.jpg" alt="">
                                            </div>
                                        </a>
                                    </article>
                                    <article class="swiper-slide newspaper-archive-card">
                                        <a href="#">
                                            <header class="newspaper-archive-card__header">
                                                <h3 class="newspaper-archive-card__num">№ 150</h3>
                                                <div class="newspaper-archive-card__date">
                                                    от <time datetime="2020-02-13">13.02.2020</time>
                                                </div>
                                            </header>
                                            <div class="newspaper-archive-card__img">
                                                <img src="img/content/newspaper.jpg" alt="">
                                            </div>
                                        </a>
                                    </article>
                                    <article class="swiper-slide newspaper-archive-card">
                                        <a href="#">
                                            <header class="newspaper-archive-card__header">
                                                <h3 class="newspaper-archive-card__num">№ 250</h3>
                                                <div class="newspaper-archive-card__date">
                                                    от <time datetime="2020-06-26">26.06.2020</time>
                                                </div>
                                            </header>
                                            <div class="newspaper-archive-card__img">
                                                <img src="img/content/newspaper.jpg" alt="">
                                            </div>
                                        </a>
                                    </article>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </section>
                    </div>
                    @@include('../../blocks/modules/sidebar/_right.html')
                </div>
            </div>

            <aside class="bottom-sections">
                @@include('../../blocks/modules/news/_news.html')
                @@include('../../blocks/modules/other-materials/_other-materials.html')
                @@include('../../blocks/modules/popular/_popular.html')
            </aside>
        </main>
    </div>

    @@include('../_js.html')

</body>

</html>