.points-of-view {
    background-color: #dfe7ea;

    // .points-of-view__slider

    &__slider {
        @media (max-width: 992px) {
            position: relative;
            padding-bottom: 70px;
        }
        @media (max-width: 575px) {
            padding-bottom: 55px;
        }
        .swiper-pagination-bullet {
            background-color: #fff;
        }
        .swiper-pagination-bullet-active {
            background-color: $accent;
        }
    }

    &__cards {
        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
        }
    }
}

.point-of-view {
    // .point-of-view__body

    &__body {
        text-align: center;
    }

    // .point-of-view__img

    &__img {
        position: relative;
        padding-bottom: 75%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            @extend %cover;
        }
    }

    &__content {
        margin-top: -87px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .point-of-view__avatar

    &__avatar {
        position: relative;
        z-index: 10;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // .point-of-view__name

    &__name {
        position: relative;
        padding-bottom: 11px;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
        line-height: 16px;
        color: #005170;
        border-bottom: 0.5px solid #858585;
        padding-bottom: 11px;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:after {
            content: '';
            @extend %pos-center-x;
            bottom: 0;
            height: 0.5px;
            background-color: #b5b5b5;
        }
    }

    // .point-of-view__text

    &__text {
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        color: #141414;
        margin: 0;
        transition: 0.3s color;
    }

    @media (any-hover: hover) {
        &:hover {
            .point-of-view__text {
                color: $accent;
            }
        }
    }
}
