.btn {
    @extend %flex-center;
    text-align: center;
    min-width: 50px;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
}

.btn-red {
    background-color: $accent;
    color: #fff;
    font-size: 16px;
    //width: 298px;
    height: 40px;
    padding: 0 38.35px;
    @media(max-width: 992px) {
        height: 35px;
        font-size: 14px;
        line-height: 14px;
    }
}