.pagination {
    padding-top: 40px;
    @extend %flex-center;

    // .pagination__link

    &__link {
        font-size: 16px;
        line-height: 21px;
        margin: 0 4px;
        transition: .3s color;

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .pagination__link--current

    &__link--current {
        color: $accent;
    }

    &__btn {
        width: 25px;
        height: 25px;
        @extend %flex-center;
        border: 0.3px solid $dark;
        transition: .3s all;

        &--prev {
            margin-right: 25px;
            transform: rotate(180deg);
        }

        &--next {
            margin-left: 25px;
        }

        svg path {
            transition: .3s stroke;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $accent;
                border-color: $accent;

                svg path {
                    stroke: #fff;
                }
            }
        }
    }
}