.wrapper {
    position: relative;
    overflow-x: hidden;
    /* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: #fff;
        backdrop-filter: blur(31px);
    } */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 992px) {
        padding-left: 38px;
        padding-right: 38px;
    }

    @media (max-width: 767px) {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;

    > * {
        &:not(:last-child) {
            padding-bottom: 40px;
        }
    }
}

.section-img {
    img {
        width: 100%;
    }
}

.page {
    padding-top: 35px;
}

.home-page {
    &__wrapper {
        padding: 30px 0 40px;
        align-items: flex-start;
        @media (max-width: 1200px) {
            padding-top: 0;
        }
    }

    &__body {
        > * {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &__top-inner {
        @media (min-width: 1201px) {
            grid-template-columns: 460px auto;
        }
    }

    &__top-articles {
        article {
            .img-wrap {
                position: relative;
            }
        }
    }

    &__sidebar {
        padding: 20px 15px 30px;

        > * {
            border-bottom: 1px solid rgba(#858585, 0.3);
            padding: 15px 0;
        }
    }

    &__sidebar-title {
        padding-bottom: 25px;
    }
}

.lg-flex-col {
    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
    }
}

.col-sm-md-2 {
    @media (min-width: 576px) and (max-width: 992px) {
        column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;
    }
}

.lg-flex-col-reverse {
    flex-direction: column;
    @media (min-width: 992px) {
        flex-direction: column-reverse;
    }
}

.fw-500 {
    font-weight: 500;
}

// padding
.pt-25 {
    padding-top: 25px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.p10-0 {
    padding: 10px 0;
}

// grid
.grid {
    display: grid;
}

.lg-grid {
    @media (min-width: 992px) {
        display: grid;
    }
}

.xl-grid {
    @media (min-width: 1201px) {
        display: grid;
    }
}

.column-gap-20 {
    column-gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-25 {
    gap: 25px;
}

.gap-20 {
    gap: 20px;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-24 {
    column-gap: 24px;
}

.lg-gap-30 {
    @media (min-width: 992px) {
        gap: 20px;
    }
}

.col-lg-4 {
    @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.span-2 {
    grid-column: span 2;
}

.span-lg-3 {
    @media (min-width: 992px) {
        grid-column: span 3;
    }
}

.span-xl-3 {
    @media (min-width: 1201px) {
        grid-column: span 3;
    }
}

.col-sm-2 {
    @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-xl-4 {
    @media (min-width: 1201px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-md-3 {
    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.col-md-2 {
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.col-xs-1 {
    @media (max-width: 575px) {
        grid-template-columns: 1fr;
    }
}

.grid-xs {
    @media (min-width: 576px) {
        display: grid;
        grid-gap: 30px;
    }

    &.col-2 {
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.grid-sm {
    @media (min-width: 768px) {
        display: grid;
        grid-gap: 30px;
    }

    &.col-2 {
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.col-3 {
        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex: 1 1 auto;
}

.aifs {
    align-items: flex-start;
}

.span-3 {
    grid-column: span 3;
}

.acs {
    align-content: start;
}
